*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}    
section , footer {
    background-color: #d6ccc2;
}
header {
    background-color: #231C1A;
    height: 100px;
    width: 100%;
}
header h1 {
    color: white;
    position: relative;
    left: 42%;
    top: 0px;
    line-height: 60px;
}
header a {
    color: white;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}  
header li{
    display: inline;
    margin-right: 40vw;
}
header ul {
    position: relative;
    left: 25%;
    top: 5px;
}
.picture {
    background-color: antiquewhite;
    color: white;
    height: 60vh;
    background-image: url(./picture/thumbnail.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.saying {
    background-color: #485652;
    color: white;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 2em;
}
footer {
    background-color: #020c09;
    color: white;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 2em;
}
.novel {
    display: flex;
}
.novel img {
    width: 50%;
}
.novel-text {
    width: 50%;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.novel-text h2 {
    font-size: 25px;
    margin-bottom: 0.5em;
}
.game {
    display: flex;
    height: 700px;
}
.game-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    background-color: white;
    line-height: 2em;
}
.game-img {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.game-img img {
    align-items: center;
    width: 50%;
    border-radius: 10px;
}
.game h2 {
    font-size: 30px;
    border-bottom-width: 50px;
}
.game p {
    font-size: 20px;
}
.continue {
    background-color: #485652;
    color: white;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    line-height: 2em;
}
/* 響應式設計 */